extends ../_main-template

block variables
  - var title = 'About'
  -
    var skills = [
    {
    "Frontend" : ['HTML5', 'CSS3', 'JS']
    },
    {
    "Backend" : [4, 5, 6]
    },
    {
    "Workflow" : [7, 8, 10]
    }
    ]

block content
  section.section.hero
    .hero__bg
      img(src="assets/img/portfolio.jpg" alt="").hero__img-bg
    ul.socials.hero__socials
      each item in ['vk', 'github', 'in']
          li.socials__item
            a(href="#" class=`socials__link socials__link_${item}`)
              +icon(item)
    a(href="#").hamburger
      +icon('hamburger')
    a(href="#").down-arrow
      //- img(src="assets/img/icons/arrow_down.svg")
      +icon('arrow_down')
      //-подложка portfolio
    .hero__title
      img(src="assets/img/decor/porfolio-word.png" alt="").section-title
      //-миксин hero__user-block на блоке user (примесь добавляет особенности блоку в зависимости от
      //-местонахождения: section hero в данном случае)
      //-блок user остается переиспользуемым, а класс .hero__user-block добавляет абсолютное позиционирование
      .user.hero__user-block
        .user__photo
          .user__photo-avatar
            img(src="assets/img/user.png" alt="").user__photo-img
        .user__name
          | Олег Максимов
        .user__description
          | личный сайт разработчика
  section.section.about
    .about__left
      svg(
        viewbox="0 0 1000 100"
        preserveAspectRatio="none"
      ).triangle.triangle_fill_white.about__triangles
        polygon(points="0,0 0,100 1000,100")
      //-миксин title задает класс .title инлайновый стиль
      //-background-image (для сменной подложки, например: "about" - about-heder.png)
      //-и дополнительный класс-миксин about__section-title
      //-для дополнительной стилизации .title
      +title('Обо мне', 'about-header.png', 'about__section-title')
      .user-about
        .user-about__picture
          img(src="assets/img/user-photo.jpg" alt="").user-about__photo-img
        //-позиционирование и отступы на классе user-about__title,
        //-а оформление на .subtitle (переиспользуемый класс)
        .user-about__title.subtitle
          | Кто я
        .user-about__text
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, facilis.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, ullam.
    .about__right
      svg(
        viewbox="0 0 1000 100"
        preserveAspectRatio="none"
      ).triangle.triangle_fill_beige.about__triangles
        polygon(points="0,100 1000,0 1000,100")
      .about-data
        //-позиционирование и отступы на доп классе .about-data__description,
        //-а стиль оформления на .about-user-info (переиспользуемый стиль)
        .about-data__description.about-user-info
          .about-user-info__title
            .subtitle
              | Чем я могу быть вам полезен
          .about-user-info__text
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, asperiores?
        //-блок скиллов
        .about-data__content
          ul.skills
            //-Frontend, Backend, Workflow
            each skill in skills
              //-скиллы отдельной категории
              each skillArr, skillName in skill
                .skills__item
                  .skill-section
                    .skill-section__title= skillName
                    UL.skill-section__list
                      each skillTitle in skillArr
                        li.skill-section__item
                          .skill
                            svg.skill__circle
                            .skill__name= skillTitle
      svg.triangle.triangle_fill_beige
  section.section.map