extends ../_main-template

block content
    section.section.hero
        .hero__bg.js-s-parallax
            img(src="assets/img/portfolio.jpg" alt="").hero__img-bg
        ul.socials.hero__socials
            each item in ['vk', 'github', 'in']
                li.socials__item
                    a(href="#" class=`socials__link socials__link_${item}`)
                        +icon(item)
        a(href="#").hamburger.hero__hamburger
            +icon('hamburger')
        a(href="#").down-arrow
            //- img(src="assets/img/icons/arrow_down.svg")
            +icon('arrow_down')
        .hero__title
            //- подложка portfolio
            img(src="assets/img/decor/blog-header.png" alt="").section-title
            //- миксин hero__user-block на блоке user (примесь добавляет особенности блоку в зависимости от
            //- местонахождения: section hero в данном случае)
            //- блок user остается переиспользуемым, а класс .hero__user-block добавляет абсолютное позиционирование
            .user.hero__user-block
                .js-s-parallax
                    .user__photo
                        .user__photo-avatar
                            img(src="assets/img/user.png" alt="").user__photo-img
                    +title('Блог', '', 'hero__blog-title')
    section.section.tria
        .tria__left
            svg(
                viewbox="0 0 1000 100"
                preserveAspectRatio="none"
                ).triangle.triangle_fill_white.tria__triangles
                polygon(points="0,0 0,100 1000,100")
        .tria__right
            svg(
                viewbox="0 0 1000 100"
                preserveAspectRatio="none"
                ).triangle.triangle_fill_white.tria__triangles
                polygon(points="0,100 1000,0 1000,100")
    section
        each index in items
            li.article
                .article__title= index.title
                    -
                        var data = new Date(index.date).toLocaleDateString('ru', {
                                                                            year: 'numeric',
                                                                            month: '2-digit',
                                                                            day: '2-digit'
                                                                            })
                .article__data= data
                .article__text= index.body
    section.section.blog
        aside.blog__left
            ul.blog-menu
                li.blog-menu__item
                    a(href="#").blog-menu__link
                        | Самое важное в SASS
                li.blog-menu__item
                    a(href="#").blog-menu__link
                        | Приемы верстки, без которых не обходиться
                        | ни один сайт
        main.blog__right
            article.article
                h3.article__title
                    | Самое важное в SASS
                .article__date
                    | 11 июля 2018
                .article__content
                    p
                        | In theory, @extend is great, but, in practice, there is just too much that can go wrong. I have seen stylesheets more-than-double in size; I have seen source order get destroyed; and I have seen clients plough right through their 4095 selector budget. It is always better to err on the side of caution and omit any features or tools that have the potential to cause so much trouble with little or no tangible gain. Having to shard your stylesheets into less-than-4096-selector-groups as a result of misusing a productivity tool is very, very counterintuitive.
                    p
                        | In theory, @extend is great, but, in practice, there is just too much that can go wrong. I have seen stylesheets more-than-double in size; I have seen source order get destroyed; and I have seen clients plough right through their 4095 selector budget. It is always better to err on the side of caution and omit any features or tools that have the potential to cause so much trouble with little or no tangible gain. Having to shard your stylesheets into less-than-4096-selector-groups as a result of misusing a productivity tool is very, very counterintuitive.
            article.article
                h3.article__title
                    | Приемы верстки, без которых не обходиться
                    | ни один сайт
                .article__date
                    | 11 июля 2018
                .article__content
                    p
                        | In theory, @extend is great, but, in practice, there is just too much that can go wrong. I have seen stylesheets more-than-double in size; I have seen source order get destroyed; and I have seen clients plough right through their 4095 selector budget. It is always better to err on the side of caution and omit any features or tools that have the potential to cause so much trouble with little or no tangible gain. Having to shard your stylesheets into less-than-4096-selector-groups as a result of misusing a productivity tool is very, very counterintuitive.
                    p
                        | In theory, @extend is great, but, in practice, there is just too much that can go wrong. I have seen stylesheets more-than-double in size; I have seen source order get destroyed; and I have seen clients plough right through their 4095 selector budget. It is always better to err on the side of caution and omit any features or tools that have the potential to cause so much trouble with little or no tangible gain. Having to shard your stylesheets into less-than-4096-selector-groups as a result of misusing a productivity tool is very, very counterintuitive.
    footer.section.footer
        .footer__top
            .footer__block
                | Сайт портфолио
            .footer__block
                nav.navigation
                    .navigation__item
                        a.navigation__link(href="./works")
                            | Мои работы
                    .navigation__item
                        a.navigation__link(href="./about")
                            | Обо мне
                    .navigation__item
                        a.navigation__link(href="./blog")
                            | Блог
                    .navigation__item
                        a.navigation__link(href="./authorize")
                            | Авторизация
                ul.socials.footer__socials
                    each item in ['vk', 'github', 'in']
                        li.socials__item
                            a(href="#" class=`socials__link socials__link_${item}`)
                                +icon(item)
            .footer__block
                blockquote.quote
                    | Пишите код так, как будто сопровождать его
                    | будет склонный к насилию психопат,
                    | который знает, где вы живёте
                br
                span.quote_style_bold
                    | - Martin Golding
        .footer__bottom
            | Oleg Maximov | nucknine | 2018