extends ../_main-template

block content
    section.section.hero
        .hero__bg.js-s-parallax
            img(src="assets/img/portfolio.jpg" alt="").hero__img-bg
        ul.socials.hero__socials
            each item in ['vk', 'github', 'in']
                li.socials__item
                    a(href="#" class=`socials__link socials__link_${item}`)
                        +icon(item)
        a(href="#").hamburger.hero__hamburger
            +icon('hamburger')
        a(href="#").down-arrow
            //- img(src="assets/img/icons/arrow_down.svg")
            +icon('arrow_down')
        .hero__title
            //- подложка portfolio
            img(src="assets/img/decor/blog-header.png" alt="").section-title
            //- миксин hero__user-block на блоке user (примесь добавляет особенности блоку в зависимости от
            //- местонахождения: section hero в данном случае)
            //- блок user остается переиспользуемым, а класс .hero__user-block добавляет абсолютное позиционирование
            .user.hero__user-block
                .js-s-parallax
                    .user__photo
                        .user__photo-avatar
                            img(src="assets/img/user.png" alt="").user__photo-img
                    +title('Блог', '', 'hero__blog-title')
    section.section.tria
        .tria__left
            svg(
                viewbox="0 0 1000 100"
                preserveAspectRatio="none"
                ).triangle.triangle_fill_white.tria__triangles
                polygon(points="0,0 0,100 1000,100")
        .tria__right
            svg(
                viewbox="0 0 1000 100"
                preserveAspectRatio="none"
                ).triangle.triangle_fill_white.tria__triangles
                polygon(points="0,100 1000,0 1000,100")
    section.section.blog
        aside.blog__left
            ul.blog-menu
                each item in items
                    li.blog-menu__item
                        a(href="#").blog-menu__link
                            | #{item.title}
        main.blog__right
            article.article
                each item in items
                    -
                        var date = new Date(item.date).toLocaleDateString('ru', {
                                                                            year: 'numeric',
                                                                            month: '2-digit',
                                                                            day: '2-digit'
                                                                            })
                    h3.article__title= item.title
                    .article__date= date
                    .article__content= item.body
    footer.section.footer
        .footer__top
            .footer__block
                | Сайт портфолио
            .footer__block
                nav.navigation
                    .navigation__item
                        a.navigation__link(href="./works")
                            | Мои работы
                    .navigation__item
                        a.navigation__link(href="./about")
                            | Обо мне
                    .navigation__item
                        a.navigation__link(href="./blog")
                            | Блог
                    .navigation__item
                        a.navigation__link(href="./authorize")
                            | Авторизация
                ul.socials.footer__socials
                    each item in ['vk', 'github', 'in']
                        li.socials__item
                            a(href="#" class=`socials__link socials__link_${item}`)
                                +icon(item)
            .footer__block
                blockquote.quote
                    | Пишите код так, как будто сопровождать его
                    | будет склонный к насилию психопат,
                    | который знает, где вы живёте
                br
                span.quote_style_bold
                    | - Martin Golding
        .footer__bottom
            | Oleg Maximov | nucknine | 2018